body {
  height: 100vh;
  background-color: #6a040f;
  margin-left: 7%;
  margin-right: 7%;
}

nav {
  background-color: #e85d04;
  list-style-type: none;
}

.nav-bar-items {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

ul li {
  padding: 12px;
}

ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

#search {
  margin-left: 350px;
  padding: 10px;
  width: 200px;
}

.article {
  margin-bottom: 5%;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 50px;
  color: #ffba08;
  margin-left: 25%;
  margin-right: 25%;
}

p {
  margin-left: 25%;
  margin-right: 25%;
  border: none;
  color: white;
}

h3 {
  margin-left: 25%;
  margin-right: 25%;
  border: none;
  color: white;
}

#author {
  margin-left: 25%;
  margin-right: 25%;
  border: none;
  color: #f48c06;
}

#twenty {
  margin-left: 25%;
  margin-right: 25%;
  border: none;
  color: white;
}
h2 {
  margin-left: 25%;
  margin-right: 25%;
  border: none;
  color: #dc2f02;
}

.read-more {
  margin: auto;
  color: white;
  text-align: center;
}

.more {
  margin-left: 25%;
  margin-right: 25%;
  border: none;
  color: #f48c06;
}
